
<h3>Posts</h3>

<% for post in @posts %>
<div>
  <h4><%= link_to post.title, @params[:controller], "entry", post.pk %></h4>
  <p><%= post.text %></p>
  <p><%= post.tags %> --- <%= post.created_at %> by <%= post.user.loginname %></p>
  <p>There are <%= post.comment.length %> Comments on this topic.</p>
</div>
<% end %>

<div>
  <%= link_to "Older", @params[:controller], @params[:module], @page+1 if @has_more %> <%= "---" if @has_more or @has_less %>
  <%= link_to "Newer", @params[:controller], @params[:module], @page-1 if @has_less %>
</div>

